// Styling for the portfolio section
#expertise {
  min-height: 500px;
}

#expertise-items {
  min-height: 500px;
  .carousel {
    width: 100%;
    .carousel-inner, .carousel-item {
      height: 500px;
    }
    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next {
      color: $primary;
    }
  }
}
.portfolio-box-container {
  max-width: 100%;
  transition: none;
  .portfolio-box {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    max-width: 100%;
    .portfolio-box-title {
      height: 100%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      text-align: center;
      padding: 0 2rem;
    }
    .portfolio-box-caption {
      transition: .3s;
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      text-align: center;
      color: $white;
      background: fade-out($primary, .1);
      transform: translateY(150%);
      @include transition-all;
      .portfolio-box-caption-content {
        top: 50%;
        width: 100%;
        padding: 1rem;
        text-align: center;
        .project-category,
        .project-name {
          padding: 0 15px;
          @include sans-serif-font;
        }
        .project-category {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }
        .project-name {
          font-size: 2rem;
        }
        .project-description {
          font-size: 1.25rem;
          line-height: 2.25rem;
          padding: 0 3rem;
          transition: .3s;
          bottom: -150%;
        }
      }
    }
    &:hover {
      .portfolio-box-caption {
        display: block;
        transform: translateY(0%);
        .project-description {
          bottom: 0;
        }
      }
    }
    &:focus {
      outline: none;
    }
    @media (min-width: 768px) {
      .portfolio-box-caption {
        .portfolio-box-caption-content {
          .project-category {
            font-size: 1.5rem;
          }
          .project-name {
            font-size: 2rem;
          }
        }
      }
    }

    @media(max-width: 768px) {
      height: auto;
      background-size: 100% 250px !important;
      background-color: #ddd;
      .portfolio-box-title {
        height: 250px;
      }
      .portfolio-box-caption {
        display: block;
        position: relative;
        transform: translateY(0%);
        opacity: 1;
        .portfolio-box-caption-content {
          position: relative;
          transform: none;
          .project-name {
            display: none;
          }
          .project-description {
            bottom: 0;
            font-size: 1rem;
            padding: 0 1rem;
          }
        }
      }
    }
  }
  &:hover {
    transition: .5s;
  }
}